services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - energy-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    networks:
      - energy-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: energy-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - energy-network

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    hostname: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=energy-cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - CORE_CONF_hadoop_http_staticuser_user=root
      - HDFS_CONF_dfs_replication=2
      - HDFS_CONF_dfs_namenode_datanode_registration_ip___hostname___check=false
      - HDFS_CONF_dfs_permissions_enabled=false
      - HDFS_CONF_dfs_webhdfs_enabled=true
    volumes:
      - namenode-data:/hadoop/dfs/name
      - ./data:/data
    networks:
      - energy-network

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    depends_on:
      - namenode
    ports:
      - "9864:9864"
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_replication=2
    volumes:
      - datanode1-data:/hadoop/dfs/data
    networks:
      - energy-network

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    depends_on:
      - namenode
    ports:
      - "9865:9864"
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_replication=2
    volumes:
      - datanode2-data:/hadoop/dfs/data
    networks:
      - energy-network

  datanode3:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode3
    depends_on:
      - namenode
    ports:
      - "9866:9864"
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_replication=2
    volumes:
      - datanode3-data:/hadoop/dfs/data
    networks:
      - energy-network

  spark-master:
    image: apache/spark:3.5.3
    container_name: spark-master
    hostname: spark-master
    ports:
      - "8081:8080"
      - "7077:7077"
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    volumes:
      - ./spark-apps:/opt/spark-apps
      - ./data:/data
    networks:
      - energy-network

  spark-worker1:
    image: apache/spark:3.5.3
    container_name: spark-worker1
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    volumes:
      - ./spark-apps:/opt/spark-apps
      - ./data:/data
    networks:
      - energy-network

  spark-worker2:
    image: apache/spark:3.5.3
    container_name: spark-worker2
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    volumes:
      - ./spark-apps:/opt/spark-apps
      - ./data:/data
    networks:
      - energy-network

  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=energy-cluster
    volumes:
      - cassandra-data:/var/lib/cassandra
      - ./cassandra:/cassandra
    networks:
      - energy-network

  cassandra-init:
    image: cassandra:4.1
    container_name: cassandra-init
    depends_on:
      - cassandra
    volumes:
      - ./cassandra:/cassandra
    entrypoint: ["/bin/bash", "-lc"]
    command: >
      "echo 'Waiting for Cassandra...' &&
       for i in {1..60}; do cqlsh cassandra 9042 -e 'DESCRIBE KEYSPACES;' && break || sleep 2; done &&
       cqlsh cassandra 9042 -f /cassandra/schema.cql &&
       echo 'Cassandra schema applied.'"
    networks:
      - energy-network
    
  metastore-db:
    image: postgres:15
    container_name: metastore-db
    environment:
      POSTGRES_DB: metastore_db
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hivepassword
    volumes:
      - metastore-db-data:/var/lib/postgresql/data
    networks:
      - energy-network

  hive-metastore:
    image: apache/hive:standalone-metastore-4.2.0
    container_name: hive-metastore
    depends_on:
      - metastore-db
      - namenode
    ports:
      - "9083:9083"
    environment:
      SERVICE_NAME: metastore
      DB_DRIVER: postgres
      SERVICE_OPTS: >
        -Djavax.jdo.option.ConnectionDriverName=org.postgresql.Driver
        -Djavax.jdo.option.ConnectionURL=jdbc:postgresql://metastore-db:5432/metastore_db
        -Djavax.jdo.option.ConnectionUserName=hive
        -Djavax.jdo.option.ConnectionPassword=hivepassword
        -Dhive.metastore.warehouse.dir=/user/hive/warehouse
    volumes:
      - ./hadoop-conf:/etc/hadoop/conf
      - ./trino/etc:/etc/trino
      - ./hive/ext-jars:/tmp/ext-jars
    networks:
      - energy-network

  trino:
    image: trinodb/trino:478
    container_name: trino
    depends_on:
      - hive-metastore
      - cassandra
      - namenode
    ports:
      - "8082:8080"   # host 8080 is already used by kafka-ui in your compose
    volumes:
      - ./trino/etc:/etc/trino
      - ./hadoop-conf:/etc/hadoop/conf
      - ./trino/sql:/sql
    networks:
      - energy-network
      
networks:
  energy-network:
    driver: bridge

volumes:
  namenode-data:
  datanode1-data:
  datanode2-data:
  datanode3-data:
  cassandra-data:
  metastore-db-data:
